input[type='checkbox']:checked {
  background-color: #2a86ff;
  border: 0;
  color: white;
}
input[type='checkbox'] {
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid #01162b80;
  height: 15px;
  width: 15px;
  border-radius: 3px;
}
input[type='checkbox']:after {
  content: ' ';
  margin: 0 auto;
  width: 30%;
  height: 70%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(50deg);
  display: none;
}
input[type='checkbox']:checked:after {
  display: block;
}
