.watch-video {
  padding: 30px;
  &__title {
    color: var(--font-color-para);
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .goBack {
    display: flex;
    margin-bottom: 10px;
    p {
      color: var(--font-color-para);
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
    }
    svg {
      width: 30px;
      height: 30px;
      flex-shrink: 0;
      margin-right: 10px;
    }
  }

  .componet-left {
    width: 25%;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
    padding: 20px 15px;
    table {
      width: 100%;
    }
    p {
      color: var(--font-color-para);
      font-size: 15px;
      font-weight: 700;
    }
    &__header {
      display: flex;
      align-items: center;
      margin: 5% 0;
      svg {
        margin-right: 10px;
      }
      span {
        font-weight: 400;
      }
    }
    &__number {
      width: 80px;
      height: 40px;
      border-radius: 5px;
      border: 1px dashed rgba(1, 22, 43, 0.2);
      background: var(--bg-input);
      position: relative;
      input {
        border: 0;
        font-weight: 400;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      svg {
        position: absolute;
        display: inline;
        align-items: center;
        top: 50%;
        left: 15%;
        transform: translate(-15%, -50%);
      }
    }
    .random__comment {
      .componet-left__header {
        margin-bottom: 0;
      }
    }
    .optionComment {
      .commentType {
        margin-top: 2%;
        width: 100%;
        border-radius: 5px;
        background: var(--bg-input);
        height: 40px;
        // appearance: none;
        font-size: 15px;
        padding: 0 5%;
        option {
          font-weight: 400;
          color: var(--font-color-para);
        }
      }
    }
  }
}
