.layout-profiles {
    max-width: 1280px;
    height: 720px;
    margin: 20px auto;
    border: 1px solid #ccc;
    background-color: #fff;
    .-title-profiles {
        margin-top: 36px;
        margin-left: 24px;
        color: #01162B;
        font-family: 'GoogleSans';
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
     }
    .-return-profiles {
        display: flex;
        margin-bottom: 10px;
        p {
            color: #01162B;
            font-size: 18px;
            font-weight: 700;
            line-height: 30px;
        }
        svg {
            width: 30px;
            height: 30px;
            flex-shrink: 0;
            margin-right: 10px;
        }

    }
}