@mixin center {
  @content;
}
@mixin title {
  @content;
}

.dashboard {
<<<<<<< HEAD
<<<<<<< HEAD
  background: #fff;
=======
  height: 100vh;
  background: #fff;
  width: 100%;
>>>>>>> tienvm
=======
  height: 100vh;
  background: #fff;
  width: 100%;
>>>>>>> be9e47477442178c698b54ae311a87f8f6f28ba7
}
