.layout-profiles {
   max-width: 1280px;
   height: 720px;
   margin: 20px auto;
   border: 1px solid #ccc;
   background-color: #fff;
   .-title-profiles {
      margin-top: 36px;
      margin-left: 24px;
      color: #01162B;
      font-family: 'GoogleSans';
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }
   .-nav-profiles {
      display: flex;
      max-width: 1233px;
      margin: 15px auto;
      height: 64px;
      flex-shrink: 0;
      border-radius: 15px;
      background: #FFF;
      box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
   }
}