.-normal-settings {
  width: 50%;
  // height: 500px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #f2f8ff;
  .-content-settings {
    margin-top: 21px;
    margin-left: 2.5rem;
    padding-right: 2.5rem;
    h2 {
      color: #01162b;
      font-size: 15px;
      font-weight: 700;
      line-height: normal;
    }
    .-sub-settings {
      margin-top: 13px;
      margin-bottom: 17px;
      p {
        color: #01162b;
        font-size: 15px;
        font-weight: 400;
        line-height: normal;
      }
      .-options-sub-settings {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        position: relative;
        height: 40px;
        border-radius: 8px;
        border: 1px solid rgba(1, 22, 43, 0.1);
        background: #fff;
        .-count-settings {
          display: flex;
          position: absolute;
          top: 50%;
          left: 5%;
          transform: translate(-5%, -50%);
          .Icon-Upn_Down {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 10px;
            justify-content: center;
          }
          img {
            cursor: pointer;
          }
          input {
            border: 0;
            font-size: 15px;
            color: #01162b;
            font-weight: 400;
            line-height: 30px;
            background: none;
          }
        }
        .-input-sub-settings {
          position: absolute;
          top: 50%;
          right: 5%;
          transform: translate(-5%, -50%);
          display: inline-flex;
          justify-content: space-between;
          align-items: center;

          span {
            color: rgba(1, 22, 43, 0.5);
            font-size: 15px;
            font-weight: 400;
            display: inline;
            align-items: center;
          }
        }
        .-input-text-sub-settings {
          left: 49%;
          .-icon-down {
            left: 100%;
          }
        }
        &__select {
          margin: 0 auto;
          width: 93%;
          height: 100%;
          &__details {
            cursor: pointer;
            color: rgba(1, 22, 43, 1);
            width: 100%;
            height: 100%;
            border: none;
            font-family: 'GoogleSans';
            border-radius: 8px;
            font-size: 15px;
            font-weight: 400;
            .ant-select-selector {
              padding: 0;
              border: none;
              font-size: 15px;
            }
            .ant-select-arrow {
              color: #01162b;
            }
          }
        }
      }
    }
    .-sub1-settings {
      display: flex;
      align-items: center;
      gap: 14px;
      margin-top: 28px;
      margin-bottom: 0px;
      button {
        border-radius: 20px;
        min-width: 30.933px;
        height: 16px;

        .ant-switch-handle {
          position: absolute;
          top: 0px;
          inset-inline-start: 0px;
          width: 15.668px;
          height: 15.668px;
          transition: all 0.2s ease-in-out;
        }
        // .ant-switch-inner {
        //   min-width: 30.933px;
        // }
      }
      .ant-switch.ant-switch-checked .ant-switch-handle {
        inset-inline-start: calc(100% - 15.5px);
      }
      p {
        line-height: 22px;
      }
    }
  }
}
