body {
  padding: 0;
  margin: 0;
  font-family: 'GoogleSansBold', sans-serif;
}
.wrapper {
  height: 100vh;
  .script-manager {
    min-width: 1280px;
    height: 100%;
    border: 1px;
    padding: 30px;
    &__header {
      height: 10%;
      margin-bottom: 20px;
      h1 {
        color: #01162b;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .title {
        display: flex;
        font-weight: 700;
        margin-top: 20px;
        button {
          border: none;
          background-color: #fff;
          margin-right: 10px;
          cursor: pointer;
        }
        p {
          justify-content: center;
          align-items: center;
          padding: 5px;
          font-size: 18px;
        }
      }
    }
    &__content {
      display: flex;
      height:calc(90% - 20px);
      .scrollable-container {
        width: 440px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 15px;
        background: #fff;
        box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
        scrollbar-width: thin;
      }
      .scrollable-container::-webkit-scrollbar {
        width: 5px;
      }
      .scrollable-container::-webkit-scrollbar-thumb {
        background-color: #ccc; /* Màu của thanh cuộn */
        border-radius: 20px; /* Bo tròn góc của thanh cuộn */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Bóng mờ */
      }
      .scrollable-container::-webkit-scrollbar-track {
        background-color: #f0f0f0; /* Màu của phần bên dưới thanh cuộn */
        border-radius: 20px;
      }
      .left-content {
        border-radius: 15px;
        width: 100%;
        padding: 20px;
        &__top {
          display: flex;
          margin-top: 10px;
          .search {
            display: flex;
            align-items: center;
            border-radius: 8px;
            background: #f5f5f5;
            width: 270px;
            height: 40px;
            svg {
              margin-left: 20px;
              margin-right: 15px;
            }
            .inputSearch {
              border: none;
              background: #f5f5f5;
            }
          }
          .reload {
            border: none;
            margin-left: 5%;
            background-color: #fff;
            cursor: pointer;
          }
          .add {
            border: none;
            margin-left: 5%;
            background-color: #2a86ff;
            border-radius: 100%;
            cursor: pointer;
            width: 35px;
            height: 35px;
            margin-top: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        &__category {
          margin-top: 30px;
          .category-left,
          .category-right {
            font-size: 15px;
            border-radius: 25px;
            padding: 10px 15px 10px 15px;
            border: none;
            color: rgba(1, 22, 43, 0.5);
            background-color: #fff;
            font-weight: 700;
            cursor: pointer;
          }
          .category-left {
            margin-right: 10px;
          }
          .category-right {
            background-color: #2a86ff;
            color: #f5f5f5;
          }
        }
        &__content {
          margin-top: 40px;
          .script {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 15px;
            padding: 10px 5px 10px 5px;
            border-radius: 5px;
            cursor: pointer;
            p {
              padding: 5px 10px 5px 10px;
              color: #01162b;
              font-size: 15px;
              font-weight: 400;
              line-height: normal;
            }
            div {
              display: flex;
              align-items: center;
              position: relative;
              svg {
                margin-right: 5px;
                margin-left: 5px;
                cursor: pointer;
              }
            }
            .inputSelected {
              font-weight: 900;
              color: #01162b;
            }
          }
          .selected {
            border-radius: 5px;
            background: #f5f5f5;
            color: #01162b;
            box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.15);
          }
        }
      }
      .right-content {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        min-width: calc(100vw - 500px);
        &__edit {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 23px 0px 18px 31px;
          border-radius: 15px;
          background: #fff;
          width: 100%;
          height: 64px;
          box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
          h3 {
            font-size: 18px;
          }
          .edit-input {
            display: flex;
            align-items: center;
            height: 40px;
            width: 50%;
            border-radius: 5px;
            border: 1px dashed rgba(1, 22, 43, 0.2);
            background: #f5f5f5;
            padding-left: 21px;
            input {
              border: none;
              background-color: #f5f5f5;
              margin-left: 13px;
            }
          }
          .editBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 99.134px;
            height: 40px;
            gap: 11.308px;
            padding-top: 2px;
            margin-right: 5%;
            border: none;
            border-radius: 8px;
            background: #2a86ff;
            color: #fff;
            box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
          }
        }
        &__container {
          border-radius: 15px;
          border: 1px dashed rgba(1, 22, 43, 0.5);
          margin-top: 15px;
          background: #f5f5f5;
          height: 100%;
        }
      }
    }
    .makeCopy {
      display: none;
      position: fixed;
      top: 40%;
      left: 35%;
      border-radius: 15px;
      background: #fff;
      box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
      width: 636px;
      height: 154px;
      flex-shrink: 0;
      padding: 20px;
      &__top {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;

        h1 {
          color: #01162b;
          font-size: 22px;
          font-style: normal;
          font-weight: 700;
          line-height: 200%;
        }
        .close {
          background-color: #f5f5f5;
          padding: 15px;
          border-radius: 100%;
          cursor: pointer;
        }
      }

      input {
        border-radius: 8px;
        border: 1px dashed rgba(1, 22, 43, 0.2);
        background: #f5f5f5;
        width: 80%;
        height: 40px;
        padding: 15px;
      }
      button {
        font-size: 15px;
        border-radius: 25px;
        padding: 10px 30px 10px 30px;
        border: none;
        font-weight: 700;
        background-color: #2a86ff;
        color: #fff;
        margin-left: 13px;
        cursor: pointer;
      }
    }
    .delete {
      display: none;
      position: fixed;
      top: 40%;
      left: 35%;
      border-radius: 15px;
      background: #fff;
      box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
      width: 636px;
      height: 154px;
      flex-shrink: 0;
      padding: 20px;
      h1 {
        color: #01162b;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 200%;
      }
      p {
        margin-bottom: 10px;
        margin-top: 5px;
      }
      div {
        display: flex;
        justify-content: end;
        gap: 10px;
        button {
          padding: 9px 30px;
          border-radius: 36px;
          background: #f5f5f5;
          border: none;
          font-weight: 700;
          box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
          cursor: pointer;
        }
        .deleteBtn {
          border-radius: 36px;
          background: #2a86ff;
          box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
          color: #fff;
          font-weight: 700;
        }
      }
    }
    .hide {
      display: none;
    }
    .show {
      display: block;
    }
    @media screen and (max-width: 1279px) {
      /* Adjust styles for smaller screens */
      .right-content {
        width: 100%; /* Allow right content to take full width on smaller screens */
      }
    }
  }
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

// node
.updater-node {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 5px 0px rgba(107, 127, 148, 0.15);
}

.node {
  display: flex;
  align-items: center;
  .content {
    display: flex;
    align-items: center;
    margin-left: 15px;
    p {
      margin-left: 15px;
      margin-right: 24px;
      font-size: 10px;
      font-weight: 700;
    }
    .content-right {
      .right-top,
      .right-bottom {
        display: flex;
        align-items: center;
      }
    }
    .right-top {
      margin-right: 7px;
    }
    .right-bottom {
      margin-left: 15px;
      p {
        margin-left: 5px;
        font-weight: 400;
      }
    }
  }
}
