body {
  padding: 0;
  margin: 0;
  font-family: 'GoogleSansBold', sans-serif;
}
.wrapper {
  height: 100vh;
  .script-manager2 {
    min-width: 1280px;

    height: 100%;
    border: 1px;
    padding: 30px;
    &__header {
      margin-bottom: 20px;
      h1 {
        color: #01162b;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .-nav-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 65px;
      margin: 16px 0;
      div {
        display: flex;
        line-height: 65px;
        width: 305px;
        // text-align: center;
        padding-left: 2%;
        p {
          margin: 0 10px;
          color: #01162b;
          font-family: 'GoogleSans';
          font-size: 15px;
          font-weight: 700;
          width: 65%;
        }
      }
      .active {
        border: 1px solid #2a86ff;
        border-radius: 15px;
        img:last-child {
          margin: 25px 35px;
          float: right;
        }
      }
      .scriptManager {
        padding-left: 0;
        p {
          font-size: 18px;
        }
      }
      .createScript {
        border-radius: 15px;
        border: 1px dashed #01162b;
        display: flex;
        align-items: center;
        span {
          width: 40px;
          height: 40px;
          background-color: rgba(1, 22, 43, 0.1);
          border-radius: 50%;
          display: grid;
          place-items: center;
        }
      }
    }
    &__content {
      display: flex;
      height: calc(90% - 20px);
      .scrollable-container {
        width: 440px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 15px;
        background: #fff;
        box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
        scrollbar-width: thin;
      }
      .scrollable-container::-webkit-scrollbar {
        width: 5px;
      }
      .scrollable-container::-webkit-scrollbar-thumb {
        background-color: #ccc; /* Màu của thanh cuộn */
        border-radius: 20px; /* Bo tròn góc của thanh cuộn */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Bóng mờ */
      }
      .scrollable-container::-webkit-scrollbar-track {
        background-color: #f0f0f0; /* Màu của phần bên dưới thanh cuộn */
        border-radius: 20px;
      }
      .left-content {
        border-radius: 15px;
        width: 100%;
        padding: 20px 20px 0 15px;
        &__content {
          .script {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0.5rem 0;
            border-radius: 5px;
            cursor: pointer;
            p {
              padding: 10px 0 10px 15px;
              color: #01162b;
              font-size: 14px;
              font-weight: 400;
              line-height: normal;
            }
            div {
              display: flex;
              align-items: center;
              position: relative;
              margin-right: 4%;
              img {
                margin-right: 5px;
                margin-left: 5px;
                cursor: pointer;
              }
            }
            .inputSelected {
              font-weight: 900;
              color: #01162b;
              font-size: 15px;
            }
          }
          .selected {
            border-radius: 5px;
            background: #f5f5f5;
            color: #01162b;
            box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.15);
          }
        }
      }
    }
    .-expand-icon {
      display: flex;
      gap: 10px;
      text-align: center;
      color: #fff;
      font-family: 'Visby Round CF Bold';
      font-size: 12px;
      font-weight: 700;
      img {
        padding: 0 10px;
      }
      // float: right;
      .runScript {
        border-radius: 5px;
        background: #34c38f;
        box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
        display: inline-flex;
        padding: 6px 15px;
        align-items: flex-start;
        gap: 10px;
      }
      .stopScript {
        display: inline-flex;
        padding: 6px 13px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 5px;
        background: #da0000;
        box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
      }
    }
    .pin {
      display: flex;
      gap: 10px;
      align-items: center;
      img {
        cursor: pointer;
      }
    }

    .hide {
      display: none;
    }
    .show {
      display: block;
    }
  }
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

// node
.updater-node {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 5px 0px rgba(107, 127, 148, 0.15);
}

.node {
  display: flex;
  align-items: center;
  .content {
    display: flex;
    align-items: center;
    margin-left: 15px;
    p {
      margin-left: 15px;
      margin-right: 24px;
      font-size: 10px;
      font-weight: 700;
    }
    .content-right {
      .right-top,
      .right-bottom {
        display: flex;
        align-items: center;
      }
    }
    .right-top {
      margin-right: 7px;
    }
    .right-bottom {
      margin-left: 15px;
      p {
        margin-left: 5px;
        font-weight: 400;
      }
    }
  }
}

.makeCopy {
  &__top {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    p {
      color: #01162b;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 200%;
      width: 95%;
    }
    .close {
      background-color: #f5f5f5;
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;
      width: 30px;
      height: 30px;
      img {
        width: 10px;
        height: 10px;
        max-width: 10px;
        line-height: 10px;
      }
    }
  }
  &__bottom {
    display: flex;
  }
  input {
    border-radius: 8px;
    border: 1px dashed rgba(1, 22, 43, 0.2);
    background: #f5f5f5;
    width: 80%;
    height: 40px;
    padding: 15px;
  }
  button {
    font-size: 15px;
    border-radius: 25px;
    padding: 10px 30px 10px 30px;
    border: none;
    font-weight: 700;
    background-color: #2a86ff;
    color: #fff;
    margin-left: 13px;
    cursor: pointer;
  }
}
.dialog_delete {
  h1 {
    color: #01162b;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 200%;
  }
  p {
    margin-bottom: 10px;
    margin-top: 5px;
  }
  div {
    display: flex;
    justify-content: end;
    gap: 10px;
    button {
      padding: 9px 30px;
      border-radius: 36px;
      background: #f5f5f5;
      border: none;
      font-weight: 700;
      box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
      cursor: pointer;
      font-size: 18px;
    }
    .deleteBtn {
      border-radius: 36px;
      background: #2a86ff;
      box-shadow: 0px 4px 10px 0px rgba(8, 35, 106, 0.25);
      color: #fff;
      font-weight: 700;
    }
  }
}
